@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: #18191d;
  overflow: hidden auto;
}

@font-face {
  font-family: PLight;
  src: url(../../public/assets/fonts/Poppins-Light.ttf);
}

/* light 300*/
.text-p-light {
  font-family: PLight, serif;
}

@font-face {
  font-family: PMedium;
  src: url(../../public/assets/fonts/Poppins-Medium.ttf);
}

/* medium 500*/
.text-p-medium {
  font-family: PMedium, serif;
}

@font-face {
  font-family: PRegular;
  src: url(../../public/assets/fonts/Poppins-Regular.ttf);
}

/* normal 400*/
.text-p-regular {
  font-family: PRegular, serif;
}

@font-face {
  font-family: PBold;
  src: url(../../public/assets/fonts/Poppins-Bold.ttf);
}

/* bold 700*/
.text-p-bold {
  font-family: PBold, serif;
}

@font-face {
  font-family: PSemiBold;
  src: url(../../public/assets/fonts/Poppins-SemiBold.ttf);
}

/* semi bold 600*/
.text-p-semi-bold {
  font-family: PSemiBold, serif;
}

.gradient-font {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  text-transform: uppercase;
  background: linear-gradient(329.73deg, #DE9DAD 20.97%, #F1E3C0 122.77%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 16px 42px rgba(0, 0, 0, 0.32);
}

.s-items-before {
  display: flex;
  align-items: center;
}

.s-items-before::before {
  content: '';
  width: 1px;
  height: 20px;
  background: #EBCCBA;
  margin-right: 6px;
}

.liner-bg {
  background: linear-gradient(180deg, #1E1D2B 0%, #14141E 100%);
}

.banner-bg {
  width: 75rem;
  height: 16.3rem;
  background: url(../../public/assets/images/banner.png) no-repeat center;
  background-size: 100% 100%;
}

.banner-bg2 {
  background: url(../../public/assets/images/banner2.png) no-repeat center;
  background-size: 100% 100%;
}

.box {
  width: 200px;
  height: 200px;
  background: #fec400;
}


#circle-bg {
  animation: rotate360 10s infinite linear;
  transform-origin: center 50%;
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard-bg {
  left: 51.75rem;
}

@media (min-width: 1800px) {
  .dashboard-bg {
    left: 58.75rem;
  }
}

.dashboard-bg2 {
  left: 51.75rem;
}

@media (min-width: 1800px) {
  .dashboard-bg2 {
    left: 58.75rem;
  }
}

.computer-icon-bg {
  left: 51.75rem;
}

@media (min-width: 1800px) {
  .computer-icon-bg {
    left: 58.75rem;
  }
}

@media (max-width: 640px) {
  body {
    background: url(../../public/assets/images/mobile-bg.png) no-repeat center;
    background-size: 100% 100%;
  }
}

.mobile-slogan-bg {
  background: url(../../public/assets/images/main-bg2.png) no-repeat center;
  background-size: 100% 100%;
}
